<form [formGroup]="form" (ngSubmit)="submit()">

  <!-- NOMBRE -->
  <div class="mb-3">
    <label class="form-label fw-semibold" style="color: #0C2B4E;">
      Nombre
    </label>

    <input
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="Nombre"
      [class.is-invalid]="form.controls.name.touched && form.controls.name.invalid"
    />

    <div *ngIf="form.controls.name.touched && form.controls.name.invalid">
      <small *ngIf="form.controls.name.errors?.['required']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> El nombre es obligatorio.
      </small>
      <small *ngIf="form.controls.name.errors?.['minlength']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> Mínimo 3 caracteres.
      </small>
      <small *ngIf="form.controls.name.errors?.['maxLength']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> Mínimo 100 caracteres.
      </small>
      <small *ngIf="form.controls.name.errors?.['invalidSpaces']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> El texto no puede tener solo espacios ni más espacios que letras.
      </small>
      <small *ngIf="form.controls.name.errors?.['onlyLetters']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> Solo se permiten letras.
      </small>
    </div>
  </div>

  <!-- APELLIDO -->
  <div class="mb-3">
    <label class="form-label fw-semibold" style="color: #0C2B4E;">
      Apellido
    </label>

    <input
      type="text"
      class="form-control"
      formControlName="lastname"
      placeholder="Apellido"
      [class.is-invalid]="form.controls.lastname.touched && form.controls.lastname.invalid"
    />

    <div *ngIf="form.controls.lastname.touched && form.controls.lastname.invalid">
      <small *ngIf="form.controls.lastname.errors?.['required']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> El apellido es obligatorio.
      </small>
      <small *ngIf="form.controls.lastname.errors?.['minlength']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> Mínimo 3 caracteres.
      </small>
      <small *ngIf="form.controls.lastname.errors?.['maxLength']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> Mínimo 100 caracteres.
      </small>
      <small *ngIf="form.controls.lastname.errors?.['invalidSpaces']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> El texto no puede tener solo espacios ni más espacios que letras.
      </small>
      <small *ngIf="form.controls.lastname.errors?.['onlyLetters']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> Solo se permiten letras.
      </small>
    </div>
  </div>

  <!-- USUARIO -->
  <div class="mb-3">
    <label class="form-label fw-semibold" style="color: #0C2B4E;">
      Usuario
    </label>

    <input
      type="text"
      class="form-control"
      formControlName="username"
      placeholder="Usuario"
      (keydown)="blockSpace($event)"
      [class.is-invalid]="form.controls.username.touched && form.controls.username.invalid"
    />

    <div *ngIf="form.controls.username.touched && form.controls.username.invalid">
      <small *ngIf="form.controls.username.errors?.['required']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> El usuario es obligatorio.
      </small>
      <small *ngIf="form.controls.username.errors?.['minlength']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> Mínimo 3 caracteres.
      </small>
      <small *ngIf="form.controls.username.errors?.['maxLength']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> Mínimo 100 caracteres.
      </small>
      <small *ngIf="form.controls.username.errors?.['noSpaces']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> No se permiten espacios en blanco.
      </small>
      <small *ngIf="form.controls.username.errors?.['onlyLettersAndNumbers']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> Solo se permiten letras y números.
      </small>
      <small *ngIf="form.controls.username.errors?.['usernameExists']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> Elige otro nombre de usuario.
      </small>
    </div>
  </div>

  <!-- PASSWORD -->
  <div class="mb-3">
    <label class="form-label fw-semibold" style="color: #0C2B4E;">
      Contraseña
    </label>

    <div class="input-group">
      <input
        [type]="showPassword() ? 'text' : 'password'"
        class="form-control"
        formControlName="password"
        placeholder="Contraseña"
        (keydown)="blockSpace($event)"
        [class.is-invalid]="form.controls.password.touched && form.controls.password.invalid"
      />

      <span
        class="input-group-text"
        style="background-color: #F4F4F4; color: #1A3D64; cursor: pointer;"
        (click)="togglePassword()"
      >
        <i
          class="bi"
          [ngClass]="showPassword() ? 'bi-eye' : 'bi-eye-slash'"
        ></i>
      </span>
    </div>
    <div *ngIf="form.controls.password.touched && form.controls.password.invalid">
      <small *ngIf="form.controls.password.errors?.['required']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> La contraseña es obligatoria.
      </small>
      <small *ngIf="form.controls.password.errors?.['minlength']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> Mínimo 8 caracteres.
      </small>
      <small *ngIf="form.controls.password.errors?.['maxlength']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> Máximo 50 caracteres.
      </small>
      <small *ngIf="form.controls.password.errors?.['noSpaces']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> No se permiten espacios en blanco.
      </small>
      <small *ngIf="form.controls.password.errors?.['invalidPassword']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> La contraseña debe contener al menos una letra, un número y un carácter especial (@ # $ % &amp; * ! ? . _ -).
      </small>
    </div>
  </div>

  <!-- CONFIRM PASSWORD -->
  <div class="mb-3">
    <label class="form-label fw-semibold" style="color: #0C2B4E;">
      Confirmar contraseña
    </label>

    <div class="input-group">
      <input
        [type]="showPassword() ? 'text' : 'password'"
        class="form-control"
        formControlName="confirmPassword"
        placeholder="Confirmar contraseña"
        (keydown)="toggleConfirmPassword()"
        [class.is-invalid]="form.controls.confirmPassword.touched && form.controls.confirmPassword.invalid"
      />

      <span
        class="input-group-text"
        style="background-color: #F4F4F4; color: #1A3D64; cursor: pointer;"
        (click)="togglePassword()"
      >
        <i
          class="bi"
          [ngClass]="showConfirmPassword() ? 'bi-eye' : 'bi-eye-slash'"
        ></i>
      </span>
    </div>
    <div *ngIf="form.controls.password.touched && form.controls.password.invalid">
      <small *ngIf="form.controls.password.errors?.['required']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> La contraseña es obligatoria.
      </small>
      <small *ngIf="form.controls.password.errors?.['noSpaces']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> No se permiten espacios en blanco.
      </small>
      <small *ngIf="form.controls.password.errors?.['invalidPassword']" class="text-danger">
        <i class="bi bi-exclamation-circle"></i> Solo letras, números y estos caracteres: @ # $ % & * ! ? . _ -
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn w-100 fw-semibold mt-3"
    style="background-color: #0C2B4E; color: #F4F4F4;"
    [disabled]="form.invalid"
  >
    Crear cuenta
  </button>

</form>
